body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section{
    padding: 120px 0;
}


.main-heading{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.section-heading{
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.h3{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: underline;
    color: inherit;
}

ul {
  list-style-type: none;
}

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}