.header {
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #e7e9fc;
  }
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px;

  color: #2e2f42;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.color-iris {
  color: #4d5ae5;
}

.navigation {
  color: #2e2f42;
}

.navigation-items {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-items {
    display: flex;
    gap: 40px;
  }
}

.navigation-item {
}

.navigation-link {
}

@media screen and (min-width: 768px) {
  .navigation-link {
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    letter-spacing: inherit;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover,
  .navigation-link:focus,
  .navigation-link.active {
    color: #404bbf;
  }

  .navigation-link.active::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    bottom: 0;
    position: absolute;
  }
}

.address {
  display: none;
}

@media screen and (min-width: 768px) {
  .address {
    display: block;
    margin-left: auto;
  }
}

.contact-items {
}

@media screen and (min-width: 768px) {
  .contact-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .contact-items {
    flex-direction: row;
    gap: 40px;
  }
}

.contact-item {
  letter-spacing: 0.04em;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    letter-spacing: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 117%;
  }

  .contact-item:hover,
  .contact-item:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .contact-item {
    font-size: inherit;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
}

/* Menu btn */
.menu-burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  color: #2e2f42;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .menu-burger-btn {
    display: none;
  }
}
.menu-burger-btn:hover,
.menu-burger-btn:focus {
  color: #404bbf;
}
.burger-btn {
  fill: currentColor;
}
