.hero {
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: white;
  text-align: center;

  background-color: #2e2f42;
  padding: 72px 0;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url("../images/hero-bg.jpg@2x.jpg");
  }
}

.main-heading {
  max-width: 216px;
  margin: 0 auto 72px auto;
}

@media screen and (min-width: 768px) {
  .main-heading {
    padding: 0 0 36px 0;
    max-width: 496px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .main-heading {
    padding: 0 0 48px 0;
  }
}

.btn {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
