.portfolio-items {
    display: flex;
    flex-direction: column;
    gap: 48px 24px;
}
@media screen and (min-width: 1458px) {
    .portfolio-items {

        flex-wrap: wrap;
        flex-direction: row;
    }
}
    
.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 @media screen and (min-width: 1458px) {
    .portfolio-item {
        width: calc((100% - 24px*2)/3);
    }
}
    
.portfolio-item:hover,
.portfolio-item:focus {
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
    
        .portfolio-text {
            border-bottom: 1px solid #E7E9FC;
            border-left: 1px solid #E7E9FC;
                border-right: 1px solid #E7E9FC;
                padding: 32px 16px;
    
        }
                @media screen and (min-width: 1458px) {
        
                    .portfolio-text {
                        padding: 32px 16px;
                        border: 1px solid #E7E9FC;
                        border-top: none;
        
                    }
                }
    
        .portfolio-heading {
            margin-bottom: 8px;
        }
        .portfolio-media {
            overflow: hidden;
            position: relative;
            min-width: 288px;
                max-width: 360px;
                min-height: 239px;
                max-height: 300px;
        }

        

        .portfolio-overlay {
            color: #F4F4FD;
                padding: 40px 32px;
                min-height: 240px;
                max-height: 300px;
                background: #4D5AE5;
                width: 100%;
                height: 300px;

                position: absolute;
                top: 0;
                left: 0;
                
                transform: translateY(100%);
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
        .portfolio-item:hover .portfolio-overlay,
        .portfolio-item:focus .portfolio-overlay {
            transform: translateY(0);
        }
    
        .portfolio-heading {
            margin-bottom: 8px;
        }

